header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(t.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0;
    padding: 0;
    background: url(t.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.l.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-right: none;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a {
    border: 1px solid white;
}

.main-nav li a:hover {
    border: 1px solid white;
}

.logo img {
    width: 53px;
    height: auto;
    float: left;
    margin-left: ;
}

loginbox {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: static;
    top: -50px;
    left: calc(50%, -50%);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: darkgoldenrod
}

.loginbox p {
    color: goldenrod;
    margin: 8px;
    padding: 8px;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin: 8px;
    padding: 8px;
    margin-bottom: 23px;
}

.login input[type="text"],
input[type="Password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="Submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: : #fb2525;
    color: #ff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="Submit"]: hover {
    cursor: pointer;
    background: #ffc107;
    color: goldenrod;
}

.loginbox a:hover {
    color: #ffc107;
}
